/* 
    Document   : fx-motion
    Created on : 29/05/2012, 16:20:06
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

li:hover {
    margin:0 0 0 .3em;
    left:-10px;    
}

